.log {
	display: flex;
	width: 70%;
	min-height: 100px;
	background: rgb(218, 242, 234);
	margin: 3px;
	transition: all 0.1s ease-out;
	align-items: center;
	cursor: default;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	@media (max-width: 500px) {
		width: calc(100vw - 50px);
	}

	* {
		font-weight: bold;
	}
	.no {
		width: 40px;
		text-align: right;
		padding-right: 8px;
	}
	.date {
		width: calc(100% - 140px);
		height: 100%;
		border-right: solid 1px darkgray;
		border-left: solid 1px darkgray;
		text-align: center;
		.times {
			margin: 5px;
		}
	}
	.total {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100px;
		font-size: 10px;
		.text {
			transform: translateY(-35px);
		}
	}
	&:hover {
		background: rgb(113, 124, 120);
		color: white;
	}
}
