.button-container {
	min-width: 65px;
	width: auto;
	height: 20px;
	letter-spacing: 0.5px;
	line-height: 20px;
	padding: 0 auto;
	font-size: 12px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	transition: all 0.3s ease-out;

	&:hover {
		background-color: white;
		color: black;
		border: 1px solid black;
	}

	&.delete {
		background-color: rgb(248, 145, 145);
		color: white;

		&:hover {
			background-color: red;
			border: none;
		}
	}

	&.edit {
		background-color: white;
		color: black;
		border: 1px solid black;

		&:hover {
			background-color: black;
			color: white;
			border: none;
		}
	}
}
