.log {
	display: flex;
	width: 70%;
	min-width: 300px;
	margin: 3px;
	max-width: 700px;
	@media (max-width: 500px) {
		width: calc(100vw - 50px);
	}
	* {
		margin: 0 3px;
		font-weight: bold;
	}
	.no {
		width: 40px;

		text-align: right;
		padding-right: 8px;
	}
	.date {
		width: calc(100% - 140px);
		text-align: center;
	}
	.total {
		width: 100px;
		text-align: center;
	}
}
